use Mix.Config

#
# See README for instructions on generating a suitable key
config :guardian, Guardian,
  issuer: 	      "SessionService",
  secret_key:
    %{
      "crv" => "<crv>",
      "d"   => "<d>",
      "kty" => "<kty>",
      "x"   => "<x>",
      "y"   => "<y>" },
  serializer:     SessionService.GuardianSerializer,
  ttl:            { 30, :days },
  hooks: GuardianDb

config :session_service, SessionService.Repo,
  username: "<local database username>",
  password: "<local database password>"
